body {
  margin: 0;
  box-sizing: border-box;
  height: 100%; 
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  background-color: white;
}
.finders {
  height: 100px;
  background-color: #adadad;
  gap: 10px;
}

.finderOne {
 background-color: #d7d4d4;
 padding: 10px;
}

.finderTwo {
  background-color: #d7d4d4;
  padding: 10px;
 }

.rightbar {
  width: 80%;
  border-radius: 10px;
}

.content {
  height: 100%;
  background-color: #adadad;
  padding-left: 100px;
  padding-right: 100px;
}
.salaryWithAgeChip {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 10px;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.job-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.job-card {
  padding: 20px;
  width: 100%;
}
